@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  .header-content {
    display: block;
    padding-bottom: 5rem;
    .right-header {
      width: 90%;
      margin: 0 auto;
      padding: 1.5rem;
      align-items: center;
      .name {
        font-size: 2rem;
        text-align: center;
      }
      p {
        font-size: 1rem;
        text-align: center;
      }
    }
    .left-header {
      margin-top: 1rem;
      margin-bottom: 1rem;
      justify-content: center;
      max-height: 50vh;
      .header-shape {
        display: none;
      }
      .profile-image {
        margin: 0 auto;
        background-color: var(--color-primary);
        height: 35vh;
        width: 35vh;
        img {
          border-radius: 50%;
          filter: grayscale(0);
          border: 2px solid var(--color-secondary);
          transition: var(--transition-all);
          &:hover {
            transform: translate(2px, -2px);
            border: 5px solid var(--color-secondary);
          }
        }
      }
    }
  }

  .theme-button {
    width: 50px;
    height: 50px;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    width: 100%;
    height: 9%;
    background-color: transparent;
    transform: translateX(-50%);
    .control {
      margin: 1rem 0.6rem;
    }
  }
  .about-container {
    grid-template-columns: 1fr;
    .right-about-container {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about-container {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-container{
    flex-direction: column;
    .right-contact{
      margin-left:0;  
      margin-top: 2.5rem;
      .input-control-2{
        flex-direction: column;
        :last-child{
          margin-left:0;
          margin-top:1.5rem;
        }
      }
    }
    
  }
  .section {
    padding: 2rem 2.5rem;
  }
  .main-title{
    h2{
      font-size:2.5rem;
      span{
        font-size: 2.5rem;
      }
      .bg-text{
        font-size: 2.7rem;
      }
    }
  }
}
